# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store

# Pytest
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Local configuration
.idea/
.vscode/
